html, body {
	margin:0;
	padding:0;
	min-width:600px;
}



.search *, .search form * {
	margin: 0px; /* Bootstrap adds a bunch of dumb margins */
}

.search img {
}

.searchcontainer {
	font-size: 16pt;
	padding: .2em .4em .2em;
	border-bottom: 1px solid #666;

	    -ms-box-shadow:0px 0px 13px 8px #777;
	   -moz-box-shadow:0px 0px 13px 8px #777;
	-webkit-box-shadow:0px 0px 13px 8px #777;
	        box-shadow:0px 0px 13px 8px #777;

	/* Ridiculously messy (generated) vertical gradient code
	 * http://www.colorzilla.com/gradient-editor/#3ca7ed+0,3375c9+100;Custom
	 */

	background: #3ca7ed; /* Old browsers */
	background: -moz-linear-gradient(top, #3ca7ed 0%, #3375c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ca7ed), color-stop(100%,#3375c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3ca7ed 0%,#3375c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3ca7ed 0%,#3375c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3ca7ed 0%,#3375c9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3ca7ed 0%,#3375c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ca7ed', endColorstr='#3375c9',GradientType=0 ); /* IE6-9 */
}

.search {
	width: 100%;
}

.search > ul {
	display: block;
}

.search > ul > li {
	display: inline;
}

.search, .search > form {
	/* WebKit (Chrome & Safari) */
	display: -webkit-box;
	         -webkit-box-pack: justify;
	         -webkit-box-align: center;

	/* Firefox */
	display: -moz-box;
	         -moz-box-pack: justify;
	         -moz-box-align: center;

	/* IE */
	display: -ms-box;
	         -ms-box-pack: justify;
	         -ms-box-align: center;

	/* Native CSS */
	display: box;
	         box-pack: justify;
	         box-align: center;
}


.search .home {
	/*color: #000;
	 */
	color: #d1edff;

	text-decoration: none;
}

.search .home:hover {
	text-shadow: 0px 0px 11px rgba(255, 255, 255, .3);
}

