.container h1 {
  font-size: 24px;
}

.container h2 {
  font-size: 20px;
}

.dark-body {
  color: gray;
  background-color: black;
}

.dark-body img,video {
  border: 1px solid gray;
}

.page-header {
  margin: 0 0 20px;
  background-image: url("../../../protected/images/header.png");
  background-size: cover;
  background-position: right 0px bottom 40px;
  padding: 10px;
  border-bottom: 0px solid black;
}

.page-header h1 {
  margin-top: 0;
  color: lightgray;
}

.page-header small {
  color: gray;
}

.btn-wrap {
  white-space: normal;
  width: 100%;
}

.btn-wrap td {
  text-align: left;
  padding: 2px;
}

.btn-wrap img {
  width: 124px;
  height: 80px;
}

.position-btn {
  margin: 2px;
}

.filepath {
  color: gray !important;
  background: black !important;
}
