<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Starry Expanse</title>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />

	<!-- Libraries -->
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
	<script src="/static/libs/jquery.js"></script>
	<script src="/static/libs/bootstrap.js"></script>

</head>

<body>
Hi there!
</body>
</html>
