<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Starry Expanse</title>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />

	<!-- Libraries -->
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
	<script src="/static/libs/jquery.js"></script>
	<script src="/static/libs/bootstrap.js"></script>

	<!-- Scripts -->

</head>

<body>
    <div class="searchcontainer">
		<div class="search">
			<a href="#" class="home">Reference Browser</a>
			<form>
				<input type="text" name="q" value="Search Tag or Filename">
				<label for="photos">Photos</label>
				<input type="checkbox" id="photos" name="photos" checked>
				<label for="videos">Videos</label>
				<input type="checkbox" id="videos" name="videos" checked>
			</form>
			<ul>
				<li><a href="#help"><img src="/static/images/help.png" alt="Help"></a></li>
				<li><a href="#logout"><img src="/static/images/logout.png" alt="Log out"></a></li>
			</ul>
		</div>
    </div>

</body>
</html>
