<!DOCTYPE html>
<html lang = "en">
   <head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('browsing.static', filename='css/main.css') }}">
   </head>
   <body>
      <h3>
         <a href = "{{ url_for('browsing.images') }}">Riven Images</a>
      </h3>
      <hr/>
      <p>
         <a href = "{{ url_for('browsing.islands') }}">Riven Islands</a>
      </p>
      <p>
         <a href = "{{ url_for('browsing.viewpoints') }}">Riven Viewpoints</a>
      </p>
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Viewpoint</th>
               <th>Filename</th>
               <th>Friendly Name</th>
            </tr>
         </thead>
         <tbody>
            {% for image in images %}
               <tr>
                  <td>{{ image.id }}</td>
                  <td>{{ image.viewpoint }}</td>
                  <td>{{ image.filename }}</td>
                  <td>{{ image.friendly }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
