{% extends "base.html" %}

{% block body %}
  <h1>{{title}}</h1>

  {% if position_count < 0 %}
    <h2>Positions ({{position_count}})</h2>
    {% for position in positions %}
      <a class="btn btn-default position-btn" href="{{ url_for('browsing.island', symbol=island_symbol, position=position.id) }}">
        <img src="{{ url_for('browsing.protected', filename=position.thumbnail) }}"
            width="{{thumbnail_width}}" height="{{thumbnail_height}}"><br>
      </a>
    {% endfor %}
  {% endif %}

  <h2>Viewpoints ({{viewpoint_count}})</h2>
  {% for viewpoint in viewpoints %}
      <a class="btn btn-default position-btn" href="{{ url_for('browsing.viewpoint', symbol=island_symbol, vpt_name=viewpoint.name) }}">
        {% if use_unveil %}
        <img src="{{ url_for('browsing.static', filename='images/bg.png') }}"
            data-src="{{ url_for('browsing.protected', filename=viewpoint.thumbnail) }}"
            data-src-retina="{{ url_for('browsing.protected', filename=viewpoint.thumbnail2x) }}"
            width="{{thumbnail_width}}" height="{{thumbnail_height}}"><br>
        {% else %}
          <img src="{{ url_for('browsing.protected', filename=viewpoint.thumbnail) }}"
              width="{{thumbnail_width}}" height="{{thumbnail_height}}"><br>
        {% endif %}
        {{ viewpoint.name }}
      </a>
  {% endfor %}
{% endblock %}