<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="A file browser for the Starry Expanse project">
    <meta name="author" content="Chris Mumford">
    <link rel="icon" href="{{ url_for('browsing.static', filename='favicon.ico') }}">

    <title>Reference Browser: {{island_name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('browsing.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('browsing.static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('browsing.static', filename='css/main.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="dark-body">

    <div class="page-header">
      <h1>Reference Browser<br><small>The Riven asset browser</small></h1>
      <div>
        <a class="btn btn-default" href="{{ url_for('browsing.islands') }}">All Islands</a>
        <a class="btn btn-warning pull-right" href="{{ url_for('browsing.logout') }}">Sign Off</a>
      </div>
    </div>

    <div class="container">
      <h1>{{island_name}}</h1>

      {% if position_count < 0 %}
      <h2>Positions ({{position_count}})</h2>
      {% for position in positions %}
        <a class="btn btn-default position-btn" href="{{ url_for('browsing.island', symbol=island_symbol, position=position.id) }}">
          <img src="{{ url_for('browsing.protected', filename=position.thumbnail) }}"
               width="{{thumbnail_width}}" height="{{thumbnail_height}}"><br>
        </a>
      {% endfor %}
      {% endif %}

      <h2>Viewpoints ({{viewpoint_count}})</h2>
      {% for viewpoint in viewpoints %}
         <a class="btn btn-default position-btn" href="{{ url_for('browsing.viewpoint', symbol=island_symbol, vpt_name=viewpoint.name) }}">
           {% if use_unveil %}
           <img src="{{ url_for('browsing.static', filename='images/bg.png') }}"
               data-src="{{ url_for('browsing.protected', filename=viewpoint.thumbnail) }}"
               data-src-retina="{{ url_for('browsing.protected', filename=viewpoint.thumbnail2x) }}"
               width="{{thumbnail_width}}" height="{{thumbnail_height}}"><br>
           {% else %}
             <img src="{{ url_for('browsing.protected', filename=viewpoint.thumbnail) }}"
                 width="{{thumbnail_width}}" height="{{thumbnail_height}}"><br>
           {% endif %}
           {{ viewpoint.name }}
         </a>
      {% endfor %}

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('browsing.static', filename='js/jquery.unveil.js') }}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("img").unveil();
        console.log('Unveil is running')
      });
    </script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('browsing.static', filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('browsing.static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
