{% extends "base.html" %}

{% block body %}
  <h1>{{ title }}</h1>
  <p>
  {% if prev_vpt %}
    <a class="btn btn-default" href="{{ url_for('browsing.viewpoint', symbol=island_symbol, vpt_name=prev_vpt) }}">
  {% else %}
    <a class="btn btn-default" href="{{ url_for('browsing.island', symbol=island_symbol) }}">
  {% endif %}
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>
  {% if next_vpt %}
    <a class="btn btn-default" href="{{ url_for('browsing.viewpoint', symbol=island_symbol, vpt_name=next_vpt) }}">
  {% else %}
    <a class="btn btn-default" href="{{ url_for('browsing.island', symbol=island_symbol) }}">
  {% endif %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </a>
  </p>

  <h2>Adjacent Viewpoints</h2>
  <table id="connections">
  </table>

  {% if movie_count > 0 %}
  <h2>Movies ({{ movie_count }})</h2>
  <ol>
    {% for movie in movies %}
      <li>
        <a href="/{{ movie.file_path }}">{{ movie.friendly }}</a></br>
        <video class="img img-responsive"
                width="{{movie.movie_width}}" height="{{movie.movie_height}}"
                src="{{ url_for('browsing.protected', filename=movie.h264_path) }}"
                loop controls><p>don't support video</p></vid>
      </li>
    {% endfor %}
  </ol>
  {% endif %}

  {% if image_count > 0 %}
  <h2>Images ({{image_count}})</h2>
  <ol>
  {% for image in images %}
      <li>{{ image.friendly }}</br>
        <img class="img-responsive"
              width="{{image.image_width}}" height="{{image.image_height}}"
              src="{{ url_for('browsing.protected', filename=image.file_path) }}">
      </li>
  {% endfor %}
  </ol>
  {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script src="{{ url_for('browsing.static', filename='js/jquery.unveil.js') }}"></script>
  <script type="text/javascript">
    function loadTable(tableData) {
      var table = document.getElementById('connections');
      for (var r = 0; r < tableData.length; r++) {
        var tr = document.createElement('tr');
        var tableRow = tableData[r];
        for (var c = 0; c < tableRow.length; c++) {
          var td = document.createElement('td');
          if (tableRow[c]) {
            var a = document.createElement('a');
            a.setAttribute("href", "/island/" + tableRow[c]['island_symbol'] +
                '/viewpoint/' + tableRow[c]['viewpoint_name']);
            var img = document.createElement('img');
            img.setAttribute("class", "img-responsive");
            img.setAttribute("width", "{{ thumbnail_width }}");
            img.setAttribute("height", "{{ thumbnail_height }}");
            img.setAttribute("src", "/browsing.static/images/bg.png");
            img.setAttribute("data-src", "/protected/" + tableRow[c]['thumbnail']);
            img.setAttribute("data-src-retina", "/protected/" + tableRow[c]['thumbnail2x']);
            a.appendChild(img);
            td.appendChild(a);
          }
          tr.appendChild(td);
        }
        table.appendChild(tr);
      }
    }
    $(document).ready(function() {
      loadTable( {{ vpt_matrix|safe }});
      $("img").unveil();
    });
  </script>
{% endblock %}
